.banner-video {
  padding: 0px 15px 20px 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div[class*='col-'] {
 display: flex;
}

.col-sm-4 {
  padding: 10px 5px 10px 5px;
}

.card {
  width: 22rem;
}

.video-content {
  width: 22rem;
  height: 12rem;
}

/* style for input and submit row */
.input-link {
  max-width: 940px;
}

.form-control {
  width: 710px;
  color: #AAAAAA;
  background-color: #EAEAEA;
}
.form-control:focus {
  border-color: #AAAAAA;
  box-shadow: 0 1px 1px rgba(120, 114, 114, 0.75) inset, 0 0 8px rgba(120, 114, 114, 0.75)  ;
  outline: 0 none;
}

.button {
  max-height: 39px;
  cursor: pointer;
  float: left;
  min-width: 150px;
  max-width: 250px;
  display: block;
  border: none;
  background: #E0E0E0;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.button2 {
  max-height: 39px;
  cursor: pointer;
  float: left;
  min-width: 150px;
  max-width: 250px;
  display: block;
  border: none;
  background: #EB4A42;
  color: #fff;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
  color: #BFBFBF;
}
/* winona */
.button--winona {
  overflow: hidden;
  padding: 0;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  color: #3f51b5;
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0);
}
.button--winona > span {
  display: block;
}
.button--winona.button--inverted {
  color: #7986cb;
}
.button--winona.button--inverted:after {
  color: #fff;
}
.button--winona::after,
.button--winona > span {
  padding: 0.5em 2em;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona:hover {
  border-color: #3f51b5;
  background-color: rgba(63, 81, 181, 0.1);
}
.button--winona.button--inverted:hover {
  border-color: #21333C;
  background-color: #21333C;
}
.button--winona:hover::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button--winona:hover > span {
  opacity: 0;
  -webkit-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0);
}
.button--border-thin {
  border: 0.3px solid;
}
.button--round-s {
  border-radius: 5px;
}

/* style for clearing history row */
.home-content {
  margin-top: 20px;
}
.clear-history {
  margin-left: 10px;
  color: #EB4A42;
}
.clear-history:link {
  text-decoration: none;
}
/* .clear-history:visited {
  text-decoration: none;
} */
.copy-link {
  color: #EB4A42;
}
.copy-link:link {
  text-decoration: none;
}
.copy-link:hover + .text-cursor {
  display: block;
}

/* style for table data */
.item-table {
  margin-top: 20px;
}
.item-table td, .item-table th {
  padding: 10px 10px 10px 0px;
}
.th-scoped {
  font-family: roboto;
  font-weight: 200;
}
.first-th {
  text-align: left;
  width: 650px;
  color: #AAAAAA;
}
.th {
  text-align: center;
  width: 161px;
  color: #AAAAAA;
}
.short-link {
  color: #555555;
  padding-left: 15px;
}
.short-link:link {
  text-decoration: none;
}
.long-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 10px;
  width: 20px;
  max-width: 20px;
}
.text-cursor {
  display: none;
  border:3px;
  height:30px;
  width:290px;
  margin-left:200px;
  /* margin-top: -10px; */
  position: absolute;
}

.td-content {
  color: #AAAAAA;
}

html, body {
  color: #555555;
}